@model PersonManagerApp.Model.PersonEntity
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr /><hr />
@using (Html.BeginForm("EditPerson", "PersonEntities", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                @Html.HiddenFor(x => x.Id)
                <div class="form-group">
                    @Html.LabelFor(x => x.FirstName)
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.LastName)
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Title)
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Age)
                    @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.City)
                    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.PostCode)
                    @Html.TextBoxFor(x => x.PostCode, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="EditPerson" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back To List", "Index")
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
